@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #e7e0d6;
  --background-dark: #374150;
  --foreground-light: #171717;
  --foreground-dark: #e0e0e0;
}

html[data-theme='retro'] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

html[data-theme='night'] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

html[data-theme='night'] .btn-outline-dark {
  background-color: transparent;
  color: #e0e0e0;
  border-color: #e0e0e0;
}

html[data-theme='night'] .btn-outline-dark:hover {
  background-color: #e0e0e0;
  color: #1a1a2e;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer !important;
}

a:hover {
  cursor: pointer !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-custom {
  background-color: var(--background);
}

.text-custom {
  color: var(--foreground);
}
